
<h1>Welcome {{ contact.email }}!</h1>

<p>
    You sent us a contact info about {{ contact.sujet }} the following message: 
    {{contact.message}}

    We're gonna sent us a response shortly !
</p>
