{% extends 'base.html.twig' %}

{% block body %}

<div class = 'container mt-2'>
<h1>Aïe ! Une erreur est survenue lors du paiement...</h1>
<a class="btn btn-dark mt-auto" href="{{ path('app_cart') }}">Retourner au panier</a>
<div>
{% endblock %}